
@mixin full-image($src, $minHeight, $backgroundPosition){
  background: url($src) no-repeat center center $backgroundPosition; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% auto;
  background-position: 0px 0px;
  width: 100%;
  min-height: $minHeight;
  overflow: hidden;
}

.pipedream {
  @include full-image('../images/pipedream.jpg', 900px, fixed);
}
.freestone {
  @include full-image('../images/freestone.jpg', 700px, fixed);
}
.jailhouse {
  @include full-image('../images/jailhouse.jpg', 900px, fixed);
}

.mobile-show {
  display: none;
}

.desktop-show{
  display: block;
}

body{
  font-size: 30px;
}

.parallax-header {
  color: white;
  position: relative;
  margin-top: 50%;
}

.header-font {
  font-size: 80px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}

.text-center {
  text-align: center;
}
@media all and (max-width: 900px){

  .desktop-show{
    display: none;
  }
  .mobile-show {
    display: block;
  }

}
@media all and (max-width: 900px) and (min-width: 600px){
  .freestone {
    @include full-image('../images/freestone.jpg', 600px, scroll);
  }
}

@media all and (max-width: 600px) and (min-width: 400px){
  .freestone {
    @include full-image('../images/freestone.jpg', 300px, scroll);
  }

  .parallax-header {
    margin-top: 30%;
  }
}

@media all and (max-width: 400px) and (min-width: 200px){
  .freestone {
    @include full-image('../images/freestone.jpg', 300px, scroll);
  }
}